@{
    ViewBag.Title = "Map";
}
<!DOCTYPE html>
<script type='text/javascript'
        //Reference to the Bing Maps SDK
        src='http://www.bing.com/api/maps/mapcontrol?callback=loadMapScenario&key=@ViewBag.BingMapsKey'
            async defer>
</script>

<script type='text/javascript'>

    function loadMapScenario() {
        var map = new Microsoft.Maps.Map(document.getElementById('myMap'), {
            /* No need to set credentials if already passed in URL */
            center: new Microsoft.Maps.Location(47.624527, -122.355255),
            zoom: 8
        });
        Microsoft.Maps.loadModule('Microsoft.Maps.Search', function () {
            var searchManager = new Microsoft.Maps.Search.SearchManager(map);
            var requestOptions = {
                bounds: map.getBounds(),
                where: '@ViewBag.Message',
                callback: function (answer, userData) {
                    map.setView({ bounds: answer.results[0].bestView });
                    map.entities.push(new Microsoft.Maps.Pushpin(answer.results[0].location));
                }
            };
            searchManager.geocode(requestOptions);
        });

    }


</script>


<div class="container">
    <div class="row">
        <div class="col">
            <input type="text" value="@ViewBag.Message" class="form-control" name="SearchFormInput" />
            <button type="submit" id="SearchFormSubmit" class="btn btn-primary">Search</button>
        </div>
        <div class="row">
            <div class="col-sm-7" style="position:absolute;width:80%;height:80%">
                <div id='myMap' />
            </div>
            <div class="col-sm-5">
                <div class="container">
                    <div class="row">foo</div>
                    <div class="row">bar</div>
                    <div class="row">baz</div>
                </div>
            </div>
        </div>


    </div>
</div>